{% block body %}
	<div class="card" style="width: 18rem;">
		<div class="card-body">
			<h4 class="card-title">{{ weather.location}},
				{{ weather.country }}</h4>
			<h1 class="card-text">{{ weather.temperature }}</h1>
			<p class="card-text">
                {{ weather.weatherText }}
				<img src="{{ asset('images/' ~ weather.icon ~ '.png') }}">
			</p>
			<p class="card-text mb-3">
				{{ weather.localObservationDateTime|date("d/m/Y H:i A") }}
				{% if isNight %}
					<img src="{{ asset('images/night.png') }}" height="25" width="25">
				{% else %}
					<img src="{{ asset('images/day.webp') }}" height="25" width="25">
				{% endif %}
			</p>
		</div>
	</div>
{% endblock %}
